@import url("photographer.css");
.black-text {
  color: #000;
}

.hidden {
  display: none !important;
}

body {
  font-family: "DM Sans", sans-serif;
  margin: 0;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 90px;
}

main {
  padding: 0 100px;
}

h1 {
  color: #D3573C;
  margin-right: 100px;
}

.logo {
  height: 50px;
  margin-left: 100px;
}

.photographer_section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 70px;
  margin-top: 100px;
  margin-bottom: 100px;
}

.photographer_section article {
  justify-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.photographer_section article h2 {
  color: #D3573C;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 47px;
  letter-spacing: 0em;
  text-align: center;
  margin-bottom: 0;
}
.photographer_section article h2 a {
  color: #D3573C;
  text-decoration: none;
}
.photographer_section article a {
  border-radius: 100px;
  overflow: hidden;
  height: 200px;
  width: 200px;
}
.photographer_section article a img {
  height: 200px;
  width: 200px;
  object-fit: cover;
}
.photographer_section article .infoPlus {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.photographer_section article .infoPlus .place {
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
  color: #901C1C;
}
.photographer_section article .infoPlus .tagline {
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 13px;
  letter-spacing: 0em;
}
.photographer_section article .infoPlus .price {
  font-size: 9px;
  font-style: normal;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 0em;
  text-align: center;
  color: #757575;
}

.photograph-header__info {
  display: flex;
  height: 100%;
  position: relative;
}
.photograph-header__info section {
  width: 33.33%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.photograph-header__info section:nth-of-type(1) {
  justify-content: center;
  align-items: flex-start;
}
.photograph-header__info section h1 {
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: 83px;
  letter-spacing: 0em;
  text-align: left;
  color: #D3573C;
  margin-left: 34px;
  margin-bottom: 0;
}
.photograph-header__info section img {
  width: 200px;
  height: 200px;
  border-radius: 100px;
  object-fit: cover;
  display: block;
}
.photograph-header__info section .infoPlus {
  width: calc(100% - 34px);
  margin-left: 34px;
}
.photograph-header__info section .infoPlus .place {
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 31px;
  letter-spacing: 0em;
  text-align: left;
  color: #901C1C;
  margin-bottom: 1rem;
}
.photograph-header__info section .infoPlus .tagline {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;
  color: #525252;
}

.portfolio-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  min-height: 400px;
}
.portfolio-container figure {
  width: 350px;
  position: relative;
  margin: 0;
  margin-bottom: 30px;
}
.portfolio-container figure a {
  position: relative;
  display: block;
  width: 350px;
  height: 300px;
}
.portfolio-container figure a img {
  width: 350px;
  height: 300px;
  object-fit: cover;
  border-radius: 5px;
}
.portfolio-container figure a .date {
  display: none;
  position: absolute;
  right: 10px;
  bottom: 10px;
  color: #fff;
  text-shadow: 1px 1px 2px black;
  font-size: 0.6rem;
}
.portfolio-container figure video {
  width: 350px;
  height: 300px;
  object-fit: cover;
  border-radius: 5px;
}
.portfolio-container figure a:hover .date {
  display: block;
}
.portfolio-container figure figcaption {
  display: flex;
  justify-content: space-between;
}
.portfolio-container figure figcaption .media-name {
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 31px;
  letter-spacing: 0em;
  text-align: left;
  color: #901C1C;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 31px;
}
.portfolio-container figure figcaption .media-likes {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.portfolio-container figure figcaption .media-likes__count {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
}
.portfolio-container figure figcaption .media-likes i {
  color: #901C1C;
  font-size: 18px;
  margin-left: 5px;
}

.mark-container {
  position: fixed;
  right: 36px;
  bottom: 0;
  background-color: #DB8876;
  border-radius: 5px 5px 0 0;
  height: 50px;
  min-width: 370px;
  z-index: 5;
  display: flex;
  padding: 0 34px;
  justify-content: space-between;
  flex-direction: row;
  width: unset;
}
.mark-container .total-likes {
  display: flex;
  align-items: center;
}
.mark-container .total-likes__count {
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 31px;
  letter-spacing: 0em;
  text-align: right;
}
.mark-container .total-likes i {
  color: #000;
  margin-left: 5px;
  font-size: 20px;
}
.mark-container .price {
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 31px;
  letter-spacing: 0em;
  text-align: right;
  display: flex;
  align-items: center;
}

.select-container {
  margin-top: 10px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
}
.select-container label {
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;
  margin-right: 25px;
}
.select-container .sorting {
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;
  background-color: #901C1C;
  color: #fff;
  border: none;
  min-width: 190px;
  display: flex;
  align-items: center;
  margin: 0;
  position: relative;
  padding: 0;
}
.select-container .sorting--closed {
  border-radius: 5px;
}
.select-container .sorting--closed .current-value {
  border-bottom: solid 1px transparent;
}
.select-container .sorting--closed .current-value__span {
  border-radius: 5px;
}
.select-container .sorting--opened {
  border-radius: 5px 5px 0 0;
}
.select-container .sorting--opened .current-value {
  border-bottom: solid 1px #fff;
}
.select-container .sorting--opened .current-value__span {
  border-radius: 5px 5px 0 0;
}
.select-container .sorting .current-value {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  position: relative;
}
.select-container .sorting .current-value i {
  position: absolute;
  right: 10px;
  top: 15px;
}
.select-container .sorting .current-value i:hover + .current-value__span {
  background-color: #DB8876;
  color: #000;
}
.select-container .sorting .current-value:hover {
  cursor: pointer;
}
.select-container .sorting .current-value:hover li {
  color: #fff;
  background-color: #901C1C;
}
.select-container .sorting .current-value__span {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
}
.select-container .sorting .current-value__span:hover {
  background-color: #DB8876;
  color: #000;
}
.select-container .sorting .current-value .sorting__options {
  border-bottom: solid 1px #fff;
  border: none;
  padding: 0;
  position: absolute;
  z-index: 3;
  background-color: #901C1C;
  top: 51px;
  left: 0;
  border-radius: 0 0 5px 5px;
  overflow: hidden;
}
.select-container .sorting .current-value .sorting__options.hidden {
  display: none;
}
.select-container .sorting .current-value .sorting__options li {
  padding: 10px;
  min-width: 170px;
  list-style: none;
  border-bottom: solid 1px #fff;
}
.select-container .sorting .current-value .sorting__options li:last-child {
  border: none;
}
.select-container .sorting .current-value .sorting__options li:hover {
  cursor: pointer;
  background-color: #DB8876;
  color: #000;
}

.for-lightbox {
  display: flex;
  justify-content: center;
  align-items: center;
}

.lightbox__bg {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 6;
}
.lightbox__container {
  background-color: #fff;
  position: fixed;
  width: 60vw;
  height: 85vh;
  border-radius: 5px;
  top: 5%;
  margin: auto;
  z-index: 7;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}
.lightbox__close {
  display: flex;
  justify-content: flex-end;
}
.lightbox__close i {
  color: #901C1C;
  font-size: 1.5rem;
}
.lightbox__slider {
  display: flex;
  align-content: center;
  justify-content: space-between;
  height: 100%;
}
.lightbox__slider .left_arrow, .lightbox__slider .right_arrow {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}
.lightbox__slider .left_arrow i, .lightbox__slider .right_arrow i {
  color: #901C1C;
  font-size: 1.5rem;
  height: 1.5rem;
}
.lightbox__slider figure {
  display: flex;
  flex-direction: column;
}
.lightbox__slider figure img {
  max-height: 70vh;
  object-fit: contain;
  border-radius: 5px;
}
.lightbox__slider figure figcapture {
  color: #901C1C;
  font-weight: bold;
  font-size: 1.5rem;
  margin-top: 0.5rem;
}

/*# sourceMappingURL=style.css.map */
