@import url("photographer.css");

$h1color: #D3573C;
$place-color: #901C1C;
$tagline-color: #525252;
$mark-color: #DB8876;
$black: #000;


.black-text{
    color: $black;
}

.hidden{
    display: none !important;
}



body {
    font-family: "DM Sans", sans-serif;
    margin: 0;
}


header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}

main{
    padding: 0 100px;
}

h1 {
    color: $h1color;
    margin-right: 100px;
}

.logo {
    height: 50px;
    margin-left: 100px;
}

.photographer_section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
    margin-top: 100px;
    margin-bottom: 100px;
}

.photographer_section article {
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    h2{
        color: $h1color;
        font-size: 36px;
        font-style: normal;
        font-weight: 400;
        line-height: 47px;
        letter-spacing: 0em;
        text-align: center;
        margin-bottom: 0;
        a{
            color: $h1color;
            text-decoration: none;
        }
    }
    a{
        border-radius: 100px;
        overflow: hidden;
        height: 200px;
        width: 200px;
        img{
             height: 200px;
            width: 200px;
            object-fit: cover;
        }
    }
    .infoPlus{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .place{
            font-size: 13px;
            font-style: normal;
            font-weight: 400;
            line-height: 17px;
            letter-spacing: 0em;
            color: $place-color;
        }
        .tagline{
            font-size: 10px;
            font-style: normal;
            font-weight: 400;
            line-height: 13px;
            letter-spacing: 0em;
        }
        .price{
            font-size: 9px;
            font-style: normal;
            font-weight: 400;
            line-height: 12px;
            letter-spacing: 0em;
            text-align: center;
            color: #757575;
        }
    }
}





.photograph-header {
    &__info{
       display: flex;
       height: 100%;
       position: relative;
       section{
           width: 33.33%;
           display: flex;
           flex-direction: column;
           justify-content: center;
           align-items: center;
           height: 100%;
           &:nth-of-type(1){
            justify-content: center;
            align-items: flex-start;  
           }
            h1{
              
                font-size: 64px;
                font-style: normal;
                font-weight: 400;
                line-height: 83px;
                letter-spacing: 0em;
                text-align: left;
                color: $h1color;
                margin-left: 34px;
                margin-bottom: 0;
                


            }
           img{
               width: 200px;
               height: 200px;
               border-radius: 100px;
               object-fit: cover;
               display: block;

           }
           .infoPlus{
               width: calc(100% - 34px);
               margin-left: 34px;
               .place{
                    font-size: 24px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 31px;
                    letter-spacing: 0em;
                    text-align: left;
                    color: $place-color;
                    margin-bottom: 1rem;
               }
               .tagline{
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 23px;
                    letter-spacing: 0em;
                    text-align: left;
                    color: $tagline-color;
                
               }

           }
       }
    }
    
}

.portfolio-container{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    min-height: 400px;
    figure{
        width: 350px;
        position: relative;
        margin: 0;
        margin-bottom: 30px;
        a{
            position: relative;
            display: block;
            width: 350px;
            height: 300px;
            img{
            width: 350px;
            height: 300px;
            object-fit: cover;
            border-radius: 5px;
            
            }
            .date{
                display: none;
                position: absolute;
                right: 10px;
                bottom: 10px;
                color: #fff;
                text-shadow: 1px 1px 2px black;
                font-size: 0.6rem;

            }
        }
        video{
            width: 350px;
            height: 300px; 
            object-fit: cover;
            border-radius: 5px;
        }
        a:hover{
            .date{
                display: block;
               
            }
        }
        
        figcaption{
            display: flex;
            justify-content: space-between;
            .media-name{
                font-size: 24px;
                font-style: normal;
                font-weight: 400;
                line-height: 31px;
                letter-spacing: 0em;
                text-align: left;
                color: $place-color;

                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                height: 31px;

            }
            .media-likes{
                display: flex;
                justify-content: space-between;
                align-items: center;
                &__count{
                   
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 19px;
                    letter-spacing: 0em;
                    text-align: left;

                }
                i{
                    color: $place-color;
                    font-size: 18px;
                    margin-left: 5px;
                }
            }
        }
    }
}

.mark-container{
    position: fixed;
    right: 36px;
    bottom: 0;
    background-color: $mark-color;
    border-radius: 5px 5px 0 0 ;
    height: 50px;
    min-width: 370px;
    z-index: 5;
    display: flex;
    padding: 0 34px;
    justify-content: space-between;
    flex-direction: row;
    width: unset;
    .total-likes{
        display: flex;
        align-items: center;
        &__count{
            font-size: 24px;
            font-style: normal;
            font-weight: 500;
            line-height: 31px;
            letter-spacing: 0em;
            text-align: right;

        }
        i{
            color: #000;
            margin-left: 5px;
            font-size: 20px;
        }
    }
    .price{
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: 31px;
        letter-spacing: 0em;
        text-align: right; 
        display: flex;
        align-items: center;
    }

}

.select-container{
    margin-top: 10px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;

    label{
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 23px;
        letter-spacing: 0em;
        text-align: left;
        margin-right: 25px;

    }

    .sorting{
        
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 23px;
        letter-spacing: 0em;
        text-align: left;
        background-color: $place-color;
        color: #fff;
        border: none;
        

        min-width: 190px;
        display: flex;
        align-items: center;
        margin: 0;
        position: relative;
        padding: 0;
        
        &--closed{
            border-radius: 5px;
            .current-value{
                border-bottom: solid 1px transparent;

            &__span{
                border-radius: 5px;
            }
               
                // svg{
                //     transform: rotate(180deg);
                // }
            }
        }
        &--opened{
            border-radius: 5px 5px 0 0;
            .current-value{
                border-bottom: solid 1px #fff;

                &__span{
                    border-radius: 5px 5px 0 0;
                }
                
                // svg{
                //     transform: rotate(0deg);
                // }
            }
        }



        .current-value{
           display: flex;
            width: 100%;
            align-items: center;
            justify-content: space-between;
            height: 50px;
            position: relative;
            i{
                position: absolute;
                right: 10px;
                top: 15px;
                &:hover{
                    &+.current-value__span{
                     background-color: $mark-color; 
                     color: #000;  
                    }
                }
            }
            
            &:hover{
                cursor: pointer;
               
               
                li{
                    color:#fff;
                    background-color: $place-color;

                }
            }

            &__span{
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                // margin-left: 5px;
                // margin-right: 5px;
                padding-left: 10px;
                padding-right: 10px;

                &:hover{
                    background-color: $mark-color;
                    color: #000;
                    // &+i{
                    //     color: #000;
                    // }
                }
            }


           
            .sorting__options{
                border-bottom: solid 1px #fff;
                border: none;
                padding: 0;
                position: absolute;
                z-index: 3;
                background-color: $place-color;
                top: 51px;
                left: 0;
                // padding-left: 5px;
                // padding-right: 5px;
                border-radius: 0 0 5px 5px;
                overflow: hidden;
                &.hidden{
                    display: none;
                }
                li{
                    padding:10px;
                    min-width: 170px;
                    list-style: none;
                    border-bottom: solid 1px #fff;
                    &:last-child{
                        border: none;
                    }
                    &:hover{
                        cursor: pointer;
                        background-color: $mark-color;
                        color: #000;
                    }

                }
            }
        }
    }
   
}

.for-lightbox{
    display: flex;
    justify-content: center;
    align-items: center;
}
.lightbox{
    &__bg{
        position: fixed;
        background-color: rgba($color: #000000, $alpha: .8);
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 6;
    }

    &__container{
        background-color: #fff;
        position: fixed;
        width: 60vw;
        height: 85vh;

        border-radius: 5px;
        top: 5%;
        margin: auto;
        z-index: 7;
        display: flex;
        flex-direction: column;
        padding: 1rem;
    }

    &__close{
        display: flex;
        justify-content: flex-end;
        i{
            color: $place-color;
            font-size: 1.5rem;
        }
        
    }
    &__slider{
        display: flex;
        align-content: center;
        justify-content: space-between;
        height: 100%;

        
        .left_arrow, .right_arrow{
            display: flex;
            flex-direction: column;
            align-content: center;
            justify-content: center;

            i{
                color: $place-color;
                font-size: 1.5rem;
                height: 1.5rem;
            }
        }
        figure{
            display: flex;
            flex-direction: column;

            img{
 
                max-height: 70vh;
                object-fit: contain;
                border-radius: 5px;
            }
            figcapture{
                color: $place-color;
                font-weight: bold;
                font-size: 1.5rem;
                margin-top: .5rem;
            }
        }
        
    }
}





