@import url("photographer.css");

$h1color: #D3573C;
$place-color: #901C1C;
$tagline-color: #525252;
$mark-color: #DB8876;
$black: #000;


.black-text{
    color: $black;
}

.hidden{
    display: none !important;
}



body {
    font-family: "DM Sans", sans-serif;
    margin: 0;
    position: relative;
}


header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}

main{
    padding: 0 100px;
}

h1 {
    color: $h1color;
    margin-right: 100px;
}

.logo {
    height: 50px;
    margin-left: 100px;
}

.photographer_section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
    margin-top: 100px;
    margin-bottom: 100px;
}

.photographer_section article {
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    span{

        a{        
            display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-decoration: none;

        h2{
        color: $h1color;
        font-size: 36px;
        font-style: normal;
        font-weight: 400;
        line-height: 47px;
        letter-spacing: 0em;
        text-align: center;
        margin-bottom: 0;
        // a{
        //     color: $h1color;
        //     text-decoration: none;
        // }
    }
    
       
        img{

             border-radius: 100px;
        overflow: hidden;
        height: 200px;
        width: 200px;
             height: 200px;
            width: 200px;
            object-fit: cover;
        }
    
    }
    } 

    
    .infoPlus{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .place{
            font-size: 1rem;
            font-style: normal;
            font-weight: 400;
            line-height: 17px;
            letter-spacing: 0em;
            color: $place-color;
        }
        .tagline{
            font-size: .8rem;
            font-style: normal;
            font-weight: 400;
            line-height: 1rem;
            letter-spacing: 0em;
        }
        .price{
            font-size: .8rem;
            font-style: normal;
            font-weight: 400;
            line-height: 1rem;
            letter-spacing: 0em;
            text-align: center;
            color: #757575;
        }
    }
}





.photograph-header {
    &__info{
       display: flex;
       height: 100%;
       position: relative;
       section{
           width: 33.33%;
           display: flex;
           flex-direction: column;
           justify-content: center;
           align-items: center;
           height: 100%;
           &:nth-of-type(1){
            justify-content: center;
            align-items: flex-start;  
           }
            h1{
              
                font-size: 3rem;
                font-style: normal;
                font-weight: 400;
                line-height: 83px;
                letter-spacing: 0em;
                text-align: left;
                color: $h1color;
                margin-left: 34px;
                margin-right: 0;
                margin-bottom: 0;
                


            }
           img{
               width: 200px;
               height: 200px;
               border-radius: 100px;
               object-fit: cover;
               display: block;

           }
           .infoPlus{
               width: calc(100% - 34px);
               margin-left: 34px;
               .place{
                    font-size: 24px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 31px;
                    letter-spacing: 0em;
                    text-align: left;
                    color: $place-color;
                    margin-bottom: 1rem;
               }
               .tagline{
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 23px;
                    letter-spacing: 0em;
                    text-align: left;
                    color: $tagline-color;
                
               }

           }
       }
    }
    
}

.portfolio-container{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    min-height: 400px;
    figure{
        width: 350px;
        position: relative;
        margin: 0;
        margin-bottom: 30px;
        a{
            position: relative;
            display: block;
            width: 350px;
            height: 300px;
            img{
            width: 350px;
            height: 300px;
            object-fit: cover;
            border-radius: 5px;
            
            }
            .date{
                display: none;
                position: absolute;
                right: 10px;
                bottom: 10px;
                color: #fff;
                text-shadow: 1px 1px 2px black;
                font-size: 0.6rem;

            }
        }
        video{
            width: 350px;
            height: 300px; 
            object-fit: cover;
            border-radius: 5px;
        }
        a:hover{
            .date{
                display: block;
               
            }
        }
        
        figcaption{
            display: flex;
            justify-content: space-between;
            .media-name{
                font-size: 24px;
                font-style: normal;
                font-weight: 400;
                line-height: 31px;
                letter-spacing: 0em;
                text-align: left;
                color: $place-color;

                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                height: 31px;

            }
            .media-likes{
                display: flex;
                justify-content: space-between;
                align-items: center;
                &__count{
                   
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 19px;
                    letter-spacing: 0em;
                    text-align: left;

                }
                i{
                    color: $place-color;
                    font-size: 18px;
                    margin-left: 5px;
                }
            }
        }
    }
}

.mark-container{
    position: fixed;
    right: 36px;
    bottom: 0;
    background-color: $mark-color;
    border-radius: 5px 5px 0 0 ;
    height: 50px;
    min-width: 370px;
    z-index: 5;
    display: flex;
    padding: 0 34px;
    justify-content: space-between;
    flex-direction: row;
    width: unset;
    .total-likes{
        display: flex;
        align-items: center;
        &__count{
            font-size: 24px;
            font-style: normal;
            font-weight: 500;
            line-height: 31px;
            letter-spacing: 0em;
            text-align: right;

        }
        i{
            color: #000;
            margin-left: 5px;
            font-size: 20px;
        }
    }
    .price{
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: 31px;
        letter-spacing: 0em;
        text-align: right; 
        display: flex;
        align-items: center;
    }

}

.select-container{
    margin-top: 10px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;

    label{
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 23px;
        letter-spacing: 0em;
        text-align: left;
        margin-right: 25px;

    }

    .sorting{
        
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 23px;
        letter-spacing: 0em;
        text-align: left;
        background-color: $place-color;
        color: #fff;
        border: none;
        

        min-width: 190px;
        display: flex;
        align-items: center;
        margin: 0;
        position: relative;
        padding: 0;
        
        &--closed{
            border-radius: 5px;
            .current-value{
                border-bottom: solid 1px transparent;

            &__span{
                border-radius: 5px;
            }
               
                // svg{
                //     transform: rotate(180deg);
                // }
            }
        }
        &--opened{
            border-radius: 5px 5px 0 0;
            .current-value{
                border-bottom: solid 1px #fff;

                &__span{
                    border-radius: 5px 5px 0 0;
                }
                
                // svg{
                //     transform: rotate(0deg);
                // }
            }
        }



        .current-value{
           display: flex;
            width: 100%;
            align-items: center;
            justify-content: space-between;
            height: 50px;
            position: relative;
            i{
                position: absolute;
                right: 10px;
                top: 15px;
                &:hover{
                    &+.current-value__span{
                     background-color: $mark-color; 
                     color: #000;  
                    }
                }
            }
            
            &:hover{
                cursor: pointer;
               
               
                li{
                    color:#fff;
                    background-color: $place-color;

                }
            }

            &__span{
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                // margin-left: 5px;
                // margin-right: 5px;
                padding-left: 10px;
                padding-right: 10px;

                &:hover{
                    background-color: $mark-color;
                    color: #000;
                    // &+i{
                    //     color: #000;
                    // }
                }
            }


           
            .sorting__options{
                border-bottom: solid 1px #fff;
                border: none;
                padding: 0;
                position: absolute;
                z-index: 3;
                background-color: $place-color;
                top: 51px;
                left: 0;
                // padding-left: 5px;
                // padding-right: 5px;
                border-radius: 0 0 5px 5px;
                overflow: hidden;
                &.hidden{
                    display: none;
                }
                li{
                    padding:10px;
                    min-width: 170px;
                    list-style: none;
                    border-bottom: solid 1px #fff;
                    &:last-child{
                        border: none;
                    }
                    &:hover{
                        cursor: pointer;
                        background-color: $mark-color;
                        color: #000;
                    }

                }
            }
        }
    }
   
}

.for-lightbox{
    display: flex;
    justify-content: center;
    align-items: center;
}
.lightbox{
    &__bg{
        position: fixed;
        background-color: rgba($color: #000000, $alpha: .8);
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 6;
    }

    &__container{
        background-color: #fff;
        position: fixed;
        width: 70vw;
        height: 85vh;

        border-radius: 5px;
        top: 5%;
        margin: auto;
        z-index: 7;
        display: flex;
        flex-direction: column;
        padding: 1rem;
    }

    &__close{
        display: flex;
        justify-content: flex-end;
        i{
            color: $place-color;
            font-size: 1.5rem;
        }
        
    }
    &__slider{
        display: flex;
        align-content: center;
        justify-content: space-between;
        height: 100%;

        
        .left_arrow, .right_arrow{
            display: flex;
            flex-direction: column;
            align-content: center;
            justify-content: center;

            i{
                color: $place-color;
                font-size: 1.5rem;
                height: 1.5rem;
            }
        }
        figure{
            display: flex;
            flex-direction: column;

            img, video{
 
                max-height: 70vh;
                object-fit: contain;
                border-radius: 5px;
            }
            figcapture{
                color: $place-color;
                font-weight: bold;
                font-size: 1.5rem;
                margin-top: .5rem;
            }
        }
        
    }
}
.contact_button {
    font-size: 1.3rem;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 60px;
    border: none;
    background-color: $place-color;
    border-radius: 5px;
    cursor: pointer;

}

#contact_modal{
    position: fixed;
    top: 0;
    left: 0;
    justify-content: center;
    padding-top: 1%;
    background-color: rgba($color: #000000, $alpha: .8);
    width: 100vw;
    height: 100vh;
    z-index: 7;

    .modal {
        border-radius: 5px;
        background-color: $mark-color;
        width: 60%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding: 2rem;
        margin: auto;
        
        header{
            justify-content: space-between;
            align-items: flex-start;
            width: 100%;
            h2 {
                font-size: 2rem;
                font-weight: normal;
                
                margin: 0;
                flex-grow: 2;
            }
           
        }
    

        form {
            display: flex;
            width: 100%;
            flex-direction: column;
            align-items: flex-start;
        
        
            label {
                color: #312E2E;
                font-size: 1.5rem;
                margin-top: .5rem;
            }
            
            div {
                display: flex;
                flex-direction: column;
                width: 100%;
                align-items: self-start;
                margin-bottom: 0;
            }
            
            input {
                width: calc(100% - 1rem);
                height: 45px;
                border: none;
                border-radius: 5px;
                font-size: 1.2rem;
                padding-right: .5rem;
                padding-left: .5rem;
            }
            textarea{
                width: calc(100% - 1rem);
                height: 5rem;
                border-radius: 5px;
                border: none;
                font-size: 1.2rem;
                padding-right: .5rem;
                padding-left: .5rem;
            }
            .contact_button {
              margin-top: 0.5rem;
                width: unset;
            }
        }

    }

}

@mixin dashboard{
    color: #fff;
    font-size: 1.5rem;
    padding: 10px;
    cursor: pointer
}

.dashboard{
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
   
    .clear i{
        @include dashboard
    }
    .fill i{
        @include dashboard
    }
    .close i{
        @include dashboard
    }
}

.formData{
    .error{
        color: $place-color;
        font-weight: bold;
    }
}

.portfolio-container{
    margin-bottom: 3rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

//-------------------------------
.btn-signup {
    background: #fe142f;
    display: block;
    margin: 0 auto;
    border-radius: 7px;
    font-size: 1rem;
    padding: 12px 82px;
    color: #fff;
    cursor: pointer;
    border: 0;
  }

.success, .errorModal{
    color: #fff;
    width: 100%;
    height: 100%;
    background-color: rgba(26, 39, 156, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
  }
  
  .success__content, .errorModal__content{
    background: #232323;
    border-radius: 10px;
    font-weight: bold;
    text-align: center;
    min-height: 250px;
  
    z-index: 4;
    min-height: 300px; 
    width: 75%;
  
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    font-size: 1.5rem;
    position: relative;
  
  }
  
  .close-btn{
    margin-top: 20px;
  }


@media screen and (max-width: 767px) {
    main {
        padding: 0 10px;
    }

    .photograph-header{
        height: unset;
    }
    .photograph-header__info{
        flex-direction: column;
        section{
            width: 100%;
            display: flex;
            justify-content: center;
            h1{
                margin-left: 0;
                text-align: center;
                font-size: 2rem;
                width: 100%;
            }
            .infoPlus{
                margin-left: 0;
                margin-bottom: 1rem;
                .place{
                    text-align: center;
                }
                .tagline{
                    text-align: center;
                }
                
            }
        }
    }
    #open-modal-form{
        margin-bottom: 1rem;
    }
    .select-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .mark-container{
        min-width: unset;
        
        left: 10px;
        right: 10px;
    }

    .index-header{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: unset;
        width: 100%;
        margin-top: 1rem;
    }
    .logo{
        margin-left: 0;
    }
    .index-title{
        margin-right: 0;
    }

    .photographer_section{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 1rem;
    }

    .photographer-header{
        justify-content: center;
    }
    .author-page-title{
        margin-top: 0;
    }

    .lightbox__container{
        width: 100vw;
    }

    .lightbox__slider figure img, .lightbox__slider figure video{
        max-height: unset;
        width: 100%;
    }
    .lightbox__container{
        height: unset;
    }
    #contact_modal .modal{
        width: 100vw;
    }
    #contact_modal .modal form{
        width: calc(100% - 4rem);
        display: flex;
        align-items: center;
        justify-content: center;

    }
    #contact_modal .modal header{
        flex-direction: column-reverse;
        margin-top: 1rem;
    }
    .dashboard{
        width: 100%;
        
    }

    #contact_modal .modal header h2{
        width: 100%;
        text-align: center;
    }
    #contact_modal .modal form{
        align-items: center;
    }

    #contact_modal .modal{
        padding-left: 0;
        padding-right: 0;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {

    #main{
        padding-left: 2rem;
        padding-right: 2rem;
    }
    .portfolio-container{
        justify-content: space-around;
    }
    #contact_modal .modal{
padding-right: 0;
padding-left: 0;
        width: 100%;
    }

    #contact_modal .modal header{
        width: calc(100% - 6rem);
    }
    #contact_modal .modal form{
        width: calc(100% - 6rem);
    }

    .lightbox__container{
        width: 95vw;
    }
    .lightbox__slider figure img, .lightbox__slider figure video{
        max-width: 70vw;
    }
    .lightbox__slider figure{
        justify-content: center;
        align-items: center;
    }
}